<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 
    收集表单数据:
        若 :< input type="text"/>,则v-model收集的是value值,用户输入的就是value值。
        若 :< input type="radio"/>,则v-model收集的是value值,且要给标签配置value值。
        若 :< input type="checkbox"/>
            1.没有配置input的value属性,那么收集的就是checked(勾选or 未勾选,是布尔值)
            2.配置input的value属性:
                (1)v-model的初始值是非数组,那么收集的就是checked(勾选or 未勾选,是布尔值)
                (2)v-mode1的初始值是数组,那么收集的的就是value组成的数组
        备注:v-model的三个修饰符:
                lazy:失去焦点再收集数据
                number:输入字符串转为有效的数字
                trim:输入首尾空格过滤

    -->
    <div id="root">
        <form action="" @submit.prevent="sub()">
            <!-- v-model.trim用于去除两边的空格 -->
            账号：<input type="text" v-model.trim="account"><br><br>
            密码：<input type="password" v-model="password"><br><br>
            <!-- 
                type="number"
                    该属性是原生JS就有，用于设置输入的值只能是数字
                v-model.number
                    该属性是Vue提供的，用于设置Vue属性接受的值是数字
                
                因为type="number"虽然设置输入的值只能是数字，但是Vue属性接收到的值会变成字符串型的，所以要用双向绑定的v-model.number
            -->
            年龄：<input type="number" v-model.number="age"> <br><br>
            性别：
            男<input type="radio" name="gender" v-model="gender" value="male">
            女<input type="radio" name="gender" v-model="gender" value="female">
            <br><br>
            <!-- 对于复选框，vue默认读取的是属性checked。所以要写value属性 -->
            爱好：
            学习<input type="checkbox" v-model="hobbies" value="study">
            打游戏<input type="checkbox" v-model="hobbies" value="game">
            读书<input type="checkbox" v-model="hobbies" value="reading">
            <br><br>
            所属校区：
            <select name="" id="" v-model="city">
                <option value="上海">上海</option>
                <option value="北京">北京</option>
                <option value="深圳">深圳</option>
                <option value="洛杉矶">洛杉矶</option>
            </select>
            <br><br>
            其他信息：
            <!-- 
                默认情况是实时收集，也就是说这里属性的值改变以后，Vue的属性就会直接收集到。
                    v-model.lazy表示失去焦点以后才会收集
             -->
            <textarea v-model.lazy="otherInfo"></textarea><br><br>
            阅读并接受<input type="checkbox" v-model="agree"><a href="https://www.baidu.com">《阅读并接受》</a><br><br>
            <button>提交</button>
        </form>
    </div>
</body>

<script>
    Vue.config.productionTip = false

    new Vue({
        el: '#root',
        data: {
            account: '',
            password: '',
            age: 18,
            gender: 'female',
            hobbies: [],
            city: '北京',
            otherInfo: '',
            agree: ''
        },
        methods: {
            sub() {
                console.log(JSON.stringify(this._data))
            }
        }
    })
</script>

</html>